body {
    background: #1E2930;
}

#game {
	width: 650px;
}

#gameField {
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 50px;
	-webkit-box-shadow: 0px 0px 10px #04B4AE;
    background:#842180;
	position:relative;
}

#gameInfo {
	width: 200px;
	height: 400px;
	float: left;
	
    background:#8C901A;
	font-family:sans-serif; 
	text-align:center;
	color:rgba(255,255,255,0.6);
}

.bodypart {
	height: 8px;
	width: 8px;
	position:absolute;
	background: white;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
	-webkit-box-shadow: 0px 0px 10px #04B4AE;
}

#points {
	margin:5px;
	height:120px;
	margin-top:15px
}

#rules {
	margin:5px;	
    font-size:12pt;
}

.food {
	height: 8px;
	width: 8px;
	position:absolute;
	background: red;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow: 0px 0px 10px #D08062;
}

#gamemsg {
	font-size:16pt;
	margin-bottom:35px;
	visibility:hidden;
	color:#E01B6A;
}